@font-face {
    font-family: "Barlow";
    src: url("/assets/fonts/Barlow-Regular.ttf");
}

:root {
    --main-color : rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 255);
    --bg-color: rgb(50, 50, 50);
    --input-border-color: rgb(127, 127, 127);
    --highlight-color-1: rgb(70, 70, 70);
    --highlight-color-2: rgb(100, 100, 100);
    --highlight-color-3: rgb(125, 125, 125);
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: "Barlow", sans-serif;
    color: var(--main-color);
}

h1 {
    margin-left: 10%;
}

.no-link-style {
    text-decoration: none;
    color: var(--main-color);
}

.content-box {
    background-color: var(--highlight-color-2);
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s;
    font-size: 1.25em;
}

.content-box h2 {
    width: fit-content;
    margin: 0.5em auto;
    font-size: 1.4em;
}

.content-box p {
    width: fit-content;
    margin: 0 auto;
}

.clickable-content-box:hover {
    background: var(--highlight-color-3);
}

a {
    text-decoration: underline;
    color: rgb(0, 150, 255);
    transition: 0.2s;
}

a:hover {
    color: var(--main-color);
}

#back-button {
    text-decoration: none;
    float: left;
    color: var(--main-color);
    transition: 0.2s;
    font-size: 2em;
    margin-left: 10px;
}

#back-button:hover {
    color: var(--accent-color);
}

.centered, .centered-contents > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

input, select, textarea, button {
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    font-family: monospace;
    outline: unset;
    background-color: var(--highlight-color-1);
    color: var(--main-color);
}

input:hover, input:focus-visible,
select:hover, select:focus-visible,
textarea:hover, textarea:focus-visible,
button:hover, button:focus-visible {
    background-color: var(--highlight-color-2);
}

input:focus-visible:not([type="button"],[type="file"]),
select:focus-visible,
textarea:focus-visible {
    border: 2px solid var(--accent-color);
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
}

input[type="checkbox"]:focus-visible {
    filter: brightness(80%);
}

code {
    background-color: rgb(40, 40, 40);
    padding: 2px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
}